.nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    height: 70px;
    z-index: 1000;

    &__logo{
        margin-left: 0px;
        margin-right: auto;
        font-size: 1.2rem;
        color: #fff;
        margin-left: 1rem;
        text-decoration: none;
        font-weight: 700;
    }

    &__toggler{
        display: none;
    }

    &__btn{
        z-index: 2000;
        cursor: pointer;
        position: fixed;
    }

    &__menu-bg{
        height: 100%;
        width: 0;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: #000; 
        z-index: 1000;
        transition: all .7s; // Menu background speed
    }

    &__menu{
        height: 100vh;
        width: 65vw;
        position: fixed;
        left: -100%;
        top: 0;            //Make it dissapear to the top, also change check value 
        // right: -100%;   //Make it dissapear to the right, also change check value
        //left: -100%;     //Make it dissapear to the left, also change check value 
        //bottom: -100%;   //Make it dissapear to the bottom, also change check value 

        z-index: 1500;
        opacity: 1;
        transition: all .8s; // Menu speed
    }

    &__list{
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        //align-items: center;
        flex-direction: column;
        list-style: none;
        margin-top: 100px;
        padding: 0 .5rem;
        
    }

    &__item{
        padding: .5rem;
    }

    &__link{
        
        &:link,
        &:visited{
            font-size: 1.2rem;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            // background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #000 50%);
            background-size: 250%;  
            // transition: all 2s;
        }

        &:hover,
        &:active{
            background-position: 100%;
            background: linear-gradient(#00d0ff, #25ffbf);
            padding: 0 .5rem;
        }
        
    }


    // <----NOW U SEE IT..(magic)..NOW U DON'T---->
    &__toggler:checked ~ &__menu-bg{
        height: 100vh;
        width: 65vw;
    }

    &__toggler:checked ~ &__menu{
        left: 0;
    }

    // <---ICON--->

    &__ham-icon{
        position: relative;
        margin-top: .8rem;
        margin-right: 1rem;

        &,
        &:before,
        &:after{
            width: 1.4rem;
            height: 1px;
            background-color: #fff;
            display: inline-block;
        }

        &:before,
        &:after{
            content: "";
            position: absolute;
            left: 0;
        }

        &:before{top: .6rem;} // Always double up on the space
        &:after{top: .3rem;}

    }

    
}

@media screen and (min-width: 740px){

    .nav{

        &__menu{
            height: 100vh;
            width: 40vw;
        }

        &__toggler:checked ~ &__menu-bg{
            height: 100vh;
            width: 40vw;
            transition: all 1s;
        }

        &__link{
        
            &:link,
            &:visited{
                font-size: 1.5rem;
            }
            
        }
    }

}