.btn{
    border-radius: 5px;
    background-color: #fff;
    padding: 1rem 3rem;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    text-align: center;

    &--uppercase{
        text-transform: uppercase;
    }

    &--margin{
        margin-bottom: 10px;
    }

    &--gradient{
        background: linear-gradient(#00d0ff, #25ffbf);
    }

    &--white{
        color: #fff;
    }

    &--plus{
        background: linear-gradient(#00d0ff, #25ffbf);
        display: inline-block;
        padding: 14px 20px;
        color: #fff;
        border-radius: unset;
        position: absolute;
        top: -24px;
        right: 50px;
    }
}

@media screen and (min-width: 740px){

    .btn{

        &--right{
        right: auto;
        }

    }
  
}
