// Poppins
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

//Mountains

@font-face{
    font-family: mountains;
    src: url(../fonts/beyond_the_mountains.otf);
    src: url(../fonts/beyond_the_mountains.ttf);
}

// Arrow

@import url(https://fonts.googleapis.com/css?family=Varela+Round);