body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}


.container{
    width: 90%;
    margin: 0 auto;

    &--artist{
        width: 92%;
    }

}

.header{

    &__hero{
        margin-top: 70px;
        position: relative;
    }

    &__hero-img{
        width: 100vw;
        -o-object-fit: cover;
           object-fit: cover;
        height: 100vh;
        display: block;
    }

    &__hero-content{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
    }

    &__hero-heading{
        display: inline-block;
        background: -webkit-gradient(linear, left top, left bottom, from(#00d0ff), to(#25ffbf));
        background: linear-gradient(#00d0ff, #25ffbf);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 6rem;
        padding: 30px;
        font-weight: 500;
        font-family: mountains;
        border-top: 1px solid transparent; // this removes a border that appers on iphone/ipad...weird
    }

    &__hero-date{
        margin-bottom: -20px;
        font-size: 1.2rem;
    }

    &__hero-list{
        margin: 4rem 0;
        font-size: 1rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
    }

    &__hero-item{
        font-size: 1.2rem;
        padding: 0 .5rem;
    }

    &__hero-item-span{
        display: block;
        //font-size: 2rem;
    }

    &__btn-box{
        width: 70%;
        margin: 0 auto;
    }
}

// MAIN
.section-background{
    background: url(../img/middle-cover.jpg) no-repeat;
    background-size: 100% auto;
    width: 100%;
    min-height: 4640px;
}
// <---LINEUP--->

.lineup{
    padding: 7rem 0;

    &__item{
        margin: 2rem 0;
        position: relative;
    }

    &__item-img{
        display: block;
        width: 100%;
    }

    &__item-content{
        background-color: #fff;
        padding: 2rem 3rem;
        position: relative;
        box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
    }

    &__artist{
        font-size: 1.875rem;
        font-weight: 600;
        color: #000;
    }

    &__text{
        color: #999;
        line-height: 2;
        margin-top: 1rem;
        font-size: .9rem;
    }

}

// HEADING

.heading{
    padding-bottom: 11rem;

    &__text{
        color: hsl(0, 0%, 48%);
        text-transform: uppercase;
        font-weight: 600;
        font-size: .875rem;
    }
    
    &__h2{
        font-weight: 600;
        color: #000;
        font-size: 3rem;
        line-height: 1.2;
    }

}

// <----ARTISTS---->

.artist{
    padding: 1rem 0;
    background-color: #fff;

    &__items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 10px 30px;
        text-align: center; //240px standard
    }

    &__item{

        &:nth-child(even){
            margin-top: 90px;
        }
    }

    &__heading{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 30px;
    }

    &__btn-box{
        width: 60%;
        margin: 6rem auto 0;
    }
}








@media screen and (min-width: 740px){

    .lineup{
        &__item{
            display: flex;

            &--sandra{
                flex-direction: row-reverse;
            }
        }
    
        &__item-img{
            display: block;
            max-width: 360px;
        }
    
        &__item-content{
            position: absolute;
            top: 100px;
            right: 0;
            width: calc(100% - 360px);
            padding: 3rem 2rem;

            &--sandra{
                left: 0;
            }
        }
    }
    
}